{% extends 'base_sidebar.html' %} {% block content %}
<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>{{ catalog.name }}</h1>
    <button
      type="button"
      class="btn btn-secondary"
      onclick="window.history.back()"
    >
      Voltar
    </button>
  </div>

  <!-- Card para adicionar novos produtos -->
  <div class="row mb-4">
    <div class="col-12">
      <div class="card text-center border-primary">
        <div class="card-body">
          <h5 class="card-title">Adicionar Novo Produto</h5>
          <p class="card-text mb-4">
            Adicione novos produtos ao seu catálogo com facilidade. Utilize o
            botão abaixo para abrir o formulário de cadastro e incluir todos os
            detalhes necessários para os novos itens.
          </p>
          <button
            type="button"
            class="btn btn-success btn-lg"
            data-bs-toggle="modal"
            data-bs-target="#productModal"
          >
            <i class="bi bi-plus-lg"></i> Adicionar Produto
          </button>
        </div>
      </div>
    </div>
  </div>

  <form method="post" enctype="multipart/form-data" id="productForm">
    {% csrf_token %}
    <div class="row">
      <!-- Campos dinâmicos para produtos -->
      <div id="productFields" class="row mb-4">
        <!-- Campos de produto serão adicionados dinamicamente aqui -->
      </div>

      <input type="hidden" id="productData" name="product_data" value="" />
      <div class="d-flex justify-content-center align-items-center mt-4 mb-4">
        <button
          type="submit"
          class="btn btn-success btn-lg px-4 py-2"
          id="saveProductsButton"
          style="
            display: none;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s, transform 0.3s;
          "
          onmouseover="this.style.backgroundColor='#28a745'; this.style.transform='scale(1.05)';"
          onmouseout="this.style.backgroundColor='#198754'; this.style.transform='scale(1)';"
          onfocus="this.style.boxShadow='0 0 0 3px rgba(0, 123, 255, 0.5)';"
          onblur="this.style.boxShadow='0 4px 6px rgba(0, 0, 0, 0.1)';"
        >
          + Cadastro
        </button>
      </div>
    </div>
  </form>

  <!-- Modal para Adicionar Produto -->
  <div
    class="modal fade"
    id="productModal"
    tabindex="-1"
    aria-labelledby="productModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="productModalLabel">
            Adicionar Novo Produto
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form id="productFormModal">
            {% csrf_token %}
            <div class="row mb-3">
              <div class="col-md-6 mb-3">
                <label for="productName" class="form-label"
                  >Nome do Produto</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="productName"
                  required
                />
                <div class="invalid-feedback" id="productNameError"></div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="productPrice" class="form-label">Preço</label>
                <input
                  type="number"
                  class="form-control"
                  id="productPrice"
                  step="0.01"
                  required
                />
                <div class="invalid-feedback" id="productPriceError"></div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="productCategory" class="form-label"
                  >Categoria</label
                >
                <select class="form-select" id="productCategory" required>
                  <option value="">Selecione uma Categoria</option>
                  {% for category in categories %}
                  <option value="{{ category.id }}">{{ category.name }}</option>
                  {% endfor %}
                </select>
                <div class="invalid-feedback" id="productCategoryError"></div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="productStatus" class="form-label">Status</label>
                <select
                  class="form-select"
                  id="productStatus"
                  required
                  disabled
                >
                  <option value="active" selected>Ativo</option>
                </select>
                <div class="invalid-feedback" id="productStatusError"></div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-12 mb-3">
                <label for="productDescription" class="form-label"
                  >Descrição</label
                >
                <textarea
                  class="form-control"
                  id="productDescription"
                ></textarea>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-12 mb-3">
                <label for="productImage" class="form-label">Imagem</label>
                <input
                  type="file"
                  class="form-control"
                  id="productImage"
                  accept="image/*"
                />
                <div class="invalid-feedback" id="productImageError"></div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Fechar
          </button>
          <button type="button" class="btn btn-primary" id="addProductButton">
            <i class="bi bi-plus"></i> Adicionar Produto
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    function loadProducts() {
      const catalogId = "{{ catalog.id }}";
      fetch(`/catalog/${catalogId}/products/`)
        .then((response) => response.json())
        .then((data) => {
          const productFields = document.getElementById("productFields");
          productFields.innerHTML = "";

          data.products.forEach((product) => {
            addProductCard(product);
          });
        })
        .catch((error) => console.error("Erro ao carregar produtos:", error));
    }
    loadProducts();

    const productFormModal = document.getElementById("productFormModal");
    const productFields = document.getElementById("productFields");
    const productDataInput = document.getElementById("productData");
    const saveProductsButton = document.getElementById("saveProductsButton");

    function clearValidationErrors() {
      document
        .querySelectorAll(".invalid-feedback")
        .forEach((e) => (e.textContent = ""));
      document
        .querySelectorAll(".form-control")
        .forEach((element) => element.classList.remove("is-invalid"));
    }

    function displayValidationError(elementId, message) {
      document.getElementById(elementId).textContent = message;
      document
        .getElementById(elementId.replace("Error", ""))
        .classList.add("is-invalid");
    }

    function validateProductForm({
      productName,
      productPrice,
      productCategoryId,
      productImage,
    }) {
      let isValid = true;

      if (!productName) {
        displayValidationError(
          "productNameError",
          "O nome do produto é obrigatório.",
        );
        isValid = false;
      }
      if (!productPrice) {
        displayValidationError(
          "productPriceError",
          "O preço do produto é obrigatório.",
        );
        isValid = false;
      }
      if (!productCategoryId) {
        displayValidationError(
          "productCategoryError",
          "A categoria do produto é obrigatória.",
        );
        isValid = false;
      }
      if (!productImage) {
        displayValidationError(
          "productImageError",
          "A imagem do produto é obrigatória.",
        );
        isValid = false;
      } else {
        const validTypes = ["image/jpeg", "image/png", "image/gif"];
        if (!validTypes.includes(productImage.type)) {
          displayValidationError(
            "productImageError",
            "Formato de imagem não suportado. Aceitos: JPEG, PNG, GIF.",
          );
          isValid = false;
        }
        if (productImage.size > 2 * 1024 * 1024) {
          // 2MB limit
          displayValidationError(
            "productImageError",
            "O tamanho da imagem não pode exceder 2MB.",
          );
          isValid = false;
        }
      }

      return isValid;
    }

    function updateProductData() {
      const productCards = Array.from(
        productFields.getElementsByClassName("card"),
      );
      const productData = productCards.map((card) => {
        const name = card.querySelector(".card-title").textContent;
        const price = parseFloat(
          card.querySelector(".card-text").textContent.split("Preço: R$ ")[1],
        );
        const status = card
          .querySelector(".card-text")
          .textContent.split("Status: ")[1]
          .split("\n")[0];
        const categoryName = card
          .querySelector(".card-text")
          .textContent.split("Categoria: ")[1]
          .split("\n")[0];

        const categorySelect = document.getElementById("productCategory");
        const categoryId =
          Array.from(categorySelect.options).find(
            (option) => option.text === categoryName,
          )?.value || null;

        const description =
          card
            .querySelector(".card-text")
            .textContent.split("Descrição: ")[1] || "";
        const imageSrc = card.querySelector(".card-img-top").src;

        return {
          name,
          price,
          status,
          category: categoryId,
          image: imageSrc,
          description,
        };
      });
      productDataInput.value = JSON.stringify(productData);

      saveProductsButton.style.display =
        productCards.length > 0 ? "block" : "none";
    }

    function addProductCard({
      name,
      price,
      categoryId,
      status,
      description,
      imageBase64,
    }) {
      // Obtenha o nome da categoria usando o ID do select
      const categorySelect = document.getElementById("productCategory");
      const categoryName =
        Array.from(categorySelect.options).find(
          (option) => option.value === categoryId,
        )?.text || "Categoria Desconhecida";

      const newProductCard = document.createElement("div");
      newProductCard.classList.add("col-md-4", "mb-3");
      newProductCard.innerHTML = `
        <div class="card border-primary h-100">
          <img src="${imageBase64}" class="card-img-top" alt="${name}" />
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">${name}</h5>
            <p class="card-text">
              Preço: R$ ${price}<br />
              Categoria: ${categoryName}<br />
              Status: ${status == "active" ? "Ativo" : "Inativo"}<br />
              Descrição: ${description}
            </p>
            <button type="button" class="btn btn-danger mt-auto" onclick="removeProduct(this)">
              <i class="bi bi-trash"></i> Remover
            </button>
          </div>
        </div>
      `;
      productFields.appendChild(newProductCard);
      updateProductData();
    }

    window.removeProduct = function (button) {
      const productField = button.closest(".col-md-4");
      productField.remove();
      updateProductData();
    };

    document
      .getElementById("addProductButton")
      .addEventListener("click", function () {
        const productName = document.getElementById("productName").value.trim();
        const productPrice = document
          .getElementById("productPrice")
          .value.trim();
        const productCategoryId = document
          .getElementById("productCategory")
          .value.trim();
        const productStatus = document
          .getElementById("productStatus")
          .value.trim();
        const productDescription = document
          .getElementById("productDescription")
          .value.trim();
        const productImage = document.getElementById("productImage").files[0];

        const productData = {
          productName,
          productPrice,
          productCategoryId,
          productStatus,
          productDescription,
          productImage,
        };

        clearValidationErrors();

        if (validateProductForm(productData)) {
          const reader = new FileReader();
          reader.onload = function (event) {
            addProductCard({
              name: productName,
              price: productPrice,
              categoryId: productCategoryId,
              status: productStatus,
              description: productDescription,
              imageBase64: event.target.result,
            });

            productFormModal.reset();
            const modal = bootstrap.Modal.getInstance(
              document.getElementById("productModal"),
            );
            modal.hide();
          };
          reader.readAsDataURL(productImage);
        }
      });
  });

  document
    .getElementById("productForm")
    .addEventListener("submit", function (event) {
      event.preventDefault();

      const productDataInput = document.getElementById("productData");
      const catalogId = "{{ catalog.id }}";
      console.log(productDataInput);

      const productData = JSON.parse(productDataInput.value).map((product) => {
        if (product.status === "Ativo") {
          product.status = "active";
        } else if (product.status === "Inativo") {
          product.status = "inactive";
        }
        return product;
      });

      fetch(`/catalog/${catalogId}/save-products/`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": "{{ csrf_token }}",
        },
        body: JSON.stringify({
          product_data: productData,
        }),
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.success) {
            window.location.reload();
          } else {
            alert("Erro ao salvar produtos!");
          }
        })
        .catch((error) => {
          console.error("Error:", error);
          alert("Erro ao salvar produtos!");
        });
    });
</script>

{% endblock %}
