{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Sistema de Catálogo{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}" />
  </head>
  <body>
    <div class="container-fluid">
      <nav class="sidebar">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'catalog_list' %}">Catálogos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'categories_by_company' %}"
              >Categorias</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'messages_list' %}">Mensagens</a>
          </li>

          {% if request.user.profile != 'manager' %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'permissions_list' %}"
              >Permissões</a
            >
          </li>
          {% endif %}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Sair</a>
          </li>
        </ul>
      </nav>
      <div class="content">
        {% block content %}
        <!-- Conteúdo específico da página vai aqui -->
        {% endblock %}
      </div>
    </div>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
