{% extends 'base_sidebar.html' %} {% load static %} {% block content %}
<div class="container mt-5">
  <h1 class="mb-4">Confirmar Exclusão</h1>

  <p>
    Você tem certeza de que deseja excluir o catálogo
    <strong>{{ catalog.name }}</strong>? Esta ação não pode ser desfeita.
  </p>

  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Excluir</button>
    <a href="{% url 'catalog_list' %}" class="btn btn-secondary">Cancelar</a>
  </form>
</div>
{% endblock %}
