{% extends 'base_sidebar.html' %} {% block content %}
<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Adicionar Catálogo</h1>
    <a href="{% url 'catalog_list' %}" class="btn btn-secondary"> Voltar </a>
  </div>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row mb-4">
      <div class="form-group col-md-8">
        <label for="{{ catalog_form.name.id_for_label }}" class="form-label">
          {{ catalog_form.name.label }}
        </label>
        {{ catalog_form.name|safe }} {% if catalog_form.name.errors %}
        <div class="invalid-feedback">
          {% for error in catalog_form.name.errors %} {{ error }} {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="form-group col-md-4">
        <label for="{{ catalog_form.status.id_for_label }}" class="form-label">
          {{ catalog_form.status.label }}
        </label>
        {{ catalog_form.status|safe }} {% if catalog_form.status.errors %}
        <div class="invalid-feedback">
          {% for error in catalog_form.status.errors %} {{ error }} {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>

    <div class="text-center mt-4 mb-4">
      <button
        type="submit"
        class="btn {% if catalog %}btn-warning{% else %}btn-success{% endif %}"
      >
        {% if catalog %} Editar {% else %}+ Cadastro{% endif %}
      </button>
    </div>
  </form>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="card shadow-lg border-0">
          <div class="card-body text-center">
            {% if catalog %}
            <h5 class="card-title">Gerencie Seu Catálogo de Produtos</h5>
            <p class="card-text text-muted">
              Visualize todos os produtos vinculados ao seu catálogo atual. Aqui
              você pode adicionar novos itens ou remover os que não deseja mais
              exibir.
            </p>
            <a
              href="{% url 'add_products' catalog_id=catalog.id %}"
              class="btn btn-success btn-lg mt-3"
            >
              Ver Produtos do Catálogo
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
