{% extends 'base_sidebar.html' %} {% load static %} {% block content %}
<div class="container mt-5">
  <h1 class="mb-4">Novo Cadastro de Catálogo</h1>

  <!-- Mensagens de Sucesso -->
  {% if messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {% for message in messages %} {{ message }} {% endfor %}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endif %}

  <form method="post" class="row g-3 needs-validation" novalidate>
    {% csrf_token %}

    <div class="col-md-6">
      <div class="form-group">
        <label for="{{ form.name.id_for_label }}">Nome:</label>
        {{ form.name|as_widget(attrs={'class': 'form-control', 'placeholder':
        'Digite o nome'}) }} {% if form.name.errors %}
        <div class="invalid-feedback">
          {% for error in form.name.errors %} {{ error }} {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="{{ form.status.id_for_label }}">Status:</label>
        {{ form.status|as_widget(attrs={'class': 'form-control'}) }} {% if
        form.status.errors %}
        <div class="invalid-feedback">
          {% for error in form.status.errors %} {{ error }} {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>

    <div class="col-12 text-center">
      <button type="submit" class="btn btn-primary">Salvar Dados</button>
    </div>
  </form>
</div>
{% endblock %}
