{% extends 'base.html' %} {% load static %} {% block title %}Login{% endblock %}
{% block content %}

<a
  href="{% url 'catalog_company_visualize_product' %}"
  class="btn btn-info position-fixed top-0 end-0 m-3"
  style="
    z-index: 1000;
    border-radius: 10%;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  "
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    fill="currentColor"
    class="bi bi-grid"
    viewBox="0 0 16 16"
  >
    <path
      d="M3 3h2v2H3V3zm4 0h2v2H7V3zm4 0h2v2h-2V3zM3 7h2v2H3V7zm4 0h2v2H7V7zm4 0h2v2h-2V7zM3 11h2v2H3v-2zm4 0h2v2H7v-2zm4 0h2v2h-2v-2z"
    />
  </svg>
  <span>Catálogos</span>
</a>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card mx-auto p-4" style="max-width: 400px">
        <h2 class="text-center mb-4">Login</h2>

        {% if messages %}
        <div class="alert alert-success">
          {% for message in messages %}
          <p class="mb-1">{{ message }}</p>
          {% endfor %}
        </div>
        {% endif %}

        <form method="post">
          {% csrf_token %} {{ form.as_p }}
          <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary btn-block">
              Login
            </button>
          </div>
        </form>

        <div class="extra-links text-center mt-4">
          <a href="{% url 'password_reset' %}" class="d-block"
            >Esqueci minha senha</a
          >
          <a href="{% url 'register' %}" class="d-block">Registrar-se</a>
          <a href="{% url 'company_register' %}" class="d-block"
            >Cadastrar sua empresa</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
