{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container mt-5">
  <h1 class="mb-4">Página de Mensagens</h1>

  <form method="get" class="row g-3 mb-4">
    <!-- Nome -->
    <div class="form-group col-md-3">
      <label for="nome">Nome:</label>
      <input
        type="text"
        name="nome"
        id="nome"
        class="form-control"
        value="{{ request.GET.nome }}"
      />
    </div>

    <!-- Email -->
    <div class="form-group col-md-3">
      <label for="email">Email:</label>
      <input
        type="text"
        name="email"
        id="email"
        class="form-control"
        value="{{ request.GET.email }}"
      />
    </div>

    <!-- Telefone -->
    <div class="form-group col-md-2">
      <label for="phone">Telefone:</label>
      <input
        type="text"
        name="phone"
        id="phone"
        class="form-control"
        value="{{ request.GET.phone }}"
      />
    </div>

    <!-- Data de Envio -->
    <div class="form-group col-md-2">
      <label for="sent_at">Data de Envio:</label>
      <input
        type="date"
        name="sent_at"
        id="sent_at"
        class="form-control"
        value="{{ request.GET.sent_at }}"
      />
    </div>

    <!-- Botão de Filtrar -->
    <div class="form-group col-md-2 align-self-end">
      <button type="submit" class="btn btn-primary w-100">Filtrar</button>
    </div>
  </form>

  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Mensagem</th>
        <th>Enviada em</th>
      </tr>
    </thead>
    <tbody>
      {% for message in messages %}
      <tr>
        <td>{{ message.name }}</td>
        <td>{{ message.email }}</td>
        <td>{{ message.phone }}</td>
        <td>{{ message.content|truncatewords:10 }}</td>
        <td>{{ message.sent_at|date:"d/m/Y H:i" }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5">Nenhuma mensagem encontrada.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
