{% extends 'base_sidebar.html' %} {% load static %} {% block content %}
<div class="container mt-5">
  <h1 class="mb-4">Perfil</h1>

  <!-- Mensagens de Sucesso -->
  {% if messages %}
  <div class="alert alert-success">
    {% for message in messages %} {{ message }} {% endfor %}
  </div>
  {% endif %}

  <!-- Formulário de Perfil -->
  <div class="card p-4 mb-5 shadow-sm">
    <form method="post" class="needs-validation" novalidate>
      {% csrf_token %}
      <div class="row g-3">
        <!-- Nome e Email -->
        <div class="col-md-6">
          <div class="form-group">
            <label for="{{ form.name.id_for_label }}" class="form-label"
              >Nome</label
            >
            {{ form.name|safe }} {% if form.name.errors %}
            <div class="invalid-feedback">
              {% for error in form.name.errors %} {{ error }} {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="{{ form.email.id_for_label }}" class="form-label"
              >E-mail</label
            >
            {{ form.email|safe }} {% if form.email.errors %}
            <div class="invalid-feedback">
              {% for error in form.email.errors %} {{ error }} {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>

        <!-- Telefone e Status -->
        <div class="col-md-6">
          <div class="form-group">
            <label for="{{ form.phone.id_for_label }}" class="form-label"
              >Telefone</label
            >
            {{ form.phone|safe }} {% if form.phone.errors %}
            <div class="invalid-feedback">
              {% for error in form.phone.errors %} {{ error }} {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="{{ form.status.id_for_label }}" class="form-label"
              >Status</label
            >
            {{ form.status|safe }} {% if form.status.errors %}
            <div class="invalid-feedback">
              {% for error in form.status.errors %} {{ error }} {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>

        <!-- Empresa e Perfil -->
        <div class="col-md-6">
          <div class="form-group">
            <label for="{{ form.company.id_for_label }}" class="form-label"
              >Empresa</label
            >
            {{ form.company|safe }} {% if form.company.errors %}
            <div class="invalid-feedback">
              {% for error in form.company.errors %} {{ error }} {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="{{ form.profile.id_for_label }}" class="form-label"
              >Perfil</label
            >
            {{ form.profile|safe }} {% if form.profile.errors %}
            <div class="invalid-feedback">
              {% for error in form.profile.errors %} {{ error }} {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="col-12 text-center mt-4">
        <button type="submit" class="btn btn-primary">Salvar Dados</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
