{% extends 'base_sidebar.html' %} {% block content %}
<div class="container mt-4">
  <h1 class="mb-4">Usuários da Empresa {{ request.user.company.name }}</h1>

  <div class="card">
    <div class="card-header">
      <h2 class="h5">Lista de Usuários</h2>
    </div>
    <div class="card-body">
      {% if users %}
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">E-mail</th>
            <th scope="col">Telefone</th>
            <th scope="col">Status</th>
            <th scope="col">Perfil</th>
            <th scope="col">Ações</th>
            <!-- Adiciona uma coluna para ações -->
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>
              <span
                class="badge {% if user.status == 'active' %} bg-success {% elif user.status == 'inactive' %} bg-secondary {% else %} bg-light {% endif %}"
              >
                {{ user.get_status_display }}
              </span>
            </td>
            <td>{{ user.get_profile_display }}</td>
            <td>
              <form
                method="get"
                action="{% url 'user_delete' user.id %}"
                style="display: inline"
              >
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">
                  Excluir
                </button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div class="alert alert-info" role="alert">
        Nenhum usuário encontrado.
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
