body {
  background-image: url("../images/backgoud-site.17c9e294559a.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  max-width: 700px;
  width: 100%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.extra-links {
  margin-top: 15px;
}
.extra-links a {
  display: block;
  text-align: center;
  margin-top: 5px;
  color: #007bff;
  text-decoration: none;
}

.extra-links a:hover {
  text-decoration: underline;
}
