html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
.container-fluid {
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.sidebar {
  background-color: #007bff;
  color: #fff;
  border-right: 1px solid #ddd;
  height: 100%;
  padding: 20px;
  width: 230px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
}
.sidebar .nav-link {
  color: #fff;
}
.sidebar .nav-link:hover {
  background-color: #0056b3;
  text-decoration: none;
  border-radius: 8px;
}

.content {
  width: 100%;
  margin-left: 230px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.85);
  height: 100vh;
  overflow-y: auto;
}

.is-invalid {
  border-color: red;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-img-top {
  object-fit: cover;
  height: 200px; 
}

.card-body {
  flex: 1; 
}


.invalid-feedback {
  display: block;
  color: red;
}
