{% extends 'base.html' %} {% load static %} {% block content %}
<style>
  .card form {
    display: flex;
    flex-direction: column;
  }
  .card form input[type="text"],
  .card form input[type="password"],
  .card form input[type="email"],
  .card form button {
    width: 100%;
    margin-bottom: 10px;
  }
  .extra-links {
    margin-top: 20px;
  }
</style>
<div class="card">
  <h2 class="text-center">Redefinir Senha</h2>
  <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <div class="text-center">
      <button type="submit" class="btn btn-primary">
        Enviar link de redefinição
      </button>
    </div>
  </form>
  <div class="extra-links">
    <a href="{% url 'login' %}">Voltar ao login</a>
  </div>
</div>
{% endblock %}
