name: Django CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.10.12]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r catalog_project/requirements.txt

    - name: Set environment variables
      run: |
        echo "ENVIRONMENT=development" >> $GITHUB_ENV
        echo "DEBUG=True" >> $GITHUB_ENV 
        echo "EMAIL_HOST_USER=nutriclinicn@gmail.com" >> $GITHUB_ENV
        echo "EMAIL_HOST_PASSWORD=trxh sine smch lgzh" >> $GITHUB_ENV  # Corrigido de 'acho' para 'echo'
        echo "ALLOWED_HOSTS=*" >> $GITHUB_ENV
        echo "CSRF_TRUSTED_ORIGINS=https://verificacao-e-validacao-production.up.railway.app,http://localhost,http://127.0.0.1,http://verificacao-e-validacao-production.up.railway.app" >> $GITHUB_ENV
        echo "DEFAULT_FROM_EMAIL=Nutriclinicn <nutriclinicn@gmail.com>" >> $GITHUB_ENV
        echo "DATABASE_URL=postgresql://postgres:YehKANslvlfAJcJzLmvgHRdqRKQxREQy@autorack.proxy.rlwy.net:46101/railway" >> $GITHUB_ENV

    - name: Export secrets to environment
      env:
        SECRET_KEY: ${{ secrets.SECRET_KEY }}
      run: |
        echo "SECRET_KEY=${SECRET_KEY}" >> $GITHUB_ENV

    - name: Run Migrations
      run: |
        python catalog_project/manage.py migrate

    - name: Run Tests with Pytest
      run: |
        pytest catalog_project/
